[MASTER]
jobs=0
ignore-paths=
    setup.py,
    docs\/source\/conf.py,

[MESSAGES CONTROL]
disable=
    duplicate-code,
    import-error,
    too-few-public-methods,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-locals,
    fixme,
    global-statement,
    raise-missing-from,
    eval-used

[FORMAT]
max-line-length=79
