#!ipxe
cpuid --ext 29 && set arch x86_64 || set arch i386
iseq ${buildarch} aarch64 && set arch aarch64 ||

chain --autofree {{ url_for("ipxefiles", filename=startfile, _external=True) }}?arch=${arch}&mac=${mac:hexhyp}
